<html>
<head>

<!-- using the latest jquery, but version shouldn't really matter -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>

<script>
var mykey = 'AIzaSyAHAKS3oeDgnsknND2GVeCTiDgKqy7uMrw'; // sumthin like Gtg-rtZdsreUr_fLfhgPfgff
var calendarid = 'nbq9d5kvi60fj6m34ml77a6hdc@group.calendar.google.com'; // looks like nbq9d5kvi60fj6m34ml77a6hdc@group.calendar.google.com

var caldata = "";

</script>


<style>
    #dsa-cal-app {
        font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
    #events-calendar {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    #events-calendar li {
        list-style-type: none;
        padding-bottom:35px;
        padding-top:35px;
        margin-left:20px;
        margin-right:20px;
        border-bottom:1px solid #dddddd;
    }

    #events-calendar li .day {
        font-weight:normal;
    }

    #events-calendar li .time {
        color:#797979;
        float:right;
        font-size:18px;
        text-transform: uppercase;
        font-weight: bold;
        padding-top:5px;
    }

    #events-calendar li .thedate {
        color: #ec1f27;
        font-size: 22px;
        font-weight: lighter;
    }

    #events-calendar li .name {
        font-weight:bold;
        font-size:24px;
    }

    #events-calendar li .location {
        font-style:italic;
    }

    #events-calendar li .description {
        padding-top:10px;
    }

    #errors {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        font-size:18px;
        text-align:center;
        padding-top:10px;
    }
</style>

</head>

<body>
        <div id="dsa-cal-app">
                <ul id="events-calendar">
                    <li v-for="(event, index) in calevents" itemscope itemtype="http://schema.org/Event">
                        <meta itemprop="startDate" content="{{event.theStart}}">
                        <div v-for="thedate in getPrettyDate(event.theStart)" class="thedate">
                            <span class="day">{{ thedate.day }}</span> 
                            <span class="month">{{ thedate.month }}</span>
                            <span class="date"> {{ thedate.date }}</span>
                            <span class="time"> {{ thedate.time }} {{ thedate.ampm}}</span>
                        </div>
                                               
                        <div itemprop="name" class="name">{{ event.summary }}</div>
                        <div class="location">{{ event.location }}</div>
                        <div class="description" itemprop="description">{{ event.description }}</div>
                    </li>
                </ul>
                <div id="errors" v-html="errors"></div>
        </div>
</body>
<script>
new Vue({
    el: '#dsa-cal-app',
    data: {
        calevents: '',
        errors:''
    },
    methods: {
        getPrettyDate: function(uglydateTime){
            prettyPattern = "dddd, MMMM Do YYYY, h:mm a";
            
            if(uglydateTime == undefined){
                console.log("derp");
            }
            var theMoment = moment(uglydateTime);
            // this is maybe the not most rational way to do this <_<
            var day = theMoment.clone().format("dddd");
            var month = theMoment.clone().format("MMMM");
            var date = theMoment.clone().format("Do");
            var year = theMoment.clone().format("YYYY");
            var time = theMoment.clone().format("h:mm");
            var ampm = theMoment.clone().format("a");
            var output = [{day,month,date,year,time,ampm}];
            return output;
        }
    },
    mounted: function() {
        var th = this;
        $.ajax({
            type: 'GET',
            url: encodeURI('https://www.googleapis.com/calendar/v3/calendars/' + calendarid+ '/events?key=' + mykey),
            dataType: 'json',
            success: function (response) {
                var theEvents = response.items;
                console.log(theEvents);

                // all day events don't have a dateTime, so will screw up the chonological order, so if there's no dateTime, just use date
                theEvents.forEach(function(event){
                    if(event.start.dateTime == undefined){
                        console.log("no dateTime for "+event.summary+", using date");
                        event.theStart = event.start.date;
                    } else {
                        event.theStart = event.start.dateTime;
                    }
                });
                
                theEvents.sort(function(a,b){ // sort to make sure the events are in chron order
                    a = new Date(a.theStart);
                    b = new Date(b.theStart);
                    return a<b ? -1 : a>b ? 1 : 0;}
                );
                
                th.calevents = theEvents;
            },
            error: function (response) {
                th.errors = "Derp. Something went wrong- if you're seeing this, please let us know on <a href='https://www.facebook.com/NewOrleansDSA/'>Facebook</a> or the <a href='https://twitter.com/neworleansdsa'>Twitters</a>!"; 
            }
        });
    }
    
})

</script>
</html>